 
 //Sass
 $font-family-default: Arial, sans-serif;
 $primary-color: rgb(0, 0, 0);
 $secondary-color: #ff0000;
 $font-size-small: 18px;
 


body {
    font-family: $font-family-default;
    margin: 0;
    padding: 0;
  }


.navbar {

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
    }
    
    li {
        flex: 0;
        &:last-child {
            a {
                @extend .pclass;
                border: 1px solid #333333
            }
            
        } 
    }

    a {
        display: block;
        background-color: white;
        color: $primary-color;
        text-align: center;
        padding: 14px;
        width: 100px;
        text-decoration: none;
        font-size: $font-size-small;

        &:hover {
            color: $secondary-color;
            
        }
    }
}

.pclass {
    background-color: #e7e7e7;
}