 @use "colors";
 @use "font";
 
 @mixin navbar-tema {
    background-color: colors.$background-white;
    color: colors.$primary-color;
        &:hover {
            color: colors.$secondary-color;
        }
  
    @media (prefers-color-scheme: dark) {
      background-color: #000000;
      color: colors.$background-white;
        &:hover {
            color: yellow;
        }
    }
  }

  @function px-to-em($pixels, $context: 16) {
    @return $pixels / $context * 1em;
  }
  
 
 $size-div: 66%;


body {
    font-family: $font-family-default;
    margin: 0;
    padding: 0;
  }


.navbar {
    @include navbar-tema;
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
    }
    
    li {
        flex: 0;
        &:last-child {
            a {
                @extend .pclass;
                border: 1px solid #333333
            }
            
        } 
    }

    a {
        display: block;
        background-color: $background-white;
        color: $primary-color;
        text-align: center;
        padding: 14px;
        width: 100px;
        text-decoration: none;
        font-size: $font-size-small;

        &:hover {
            color: $secondary-color;
            
        }
    }
}

.pclass {
    background-color: #e7e7e7;
}

.first {
    background-color: blue;
    padding: 50px;
    width: calc(100% - #{$size-div});
}

.second {
    padding: 50px;
    background-color: greenyellow;
}